.button {
    display: flex;
    text-align: center;
    border: none;
    background: none;
    width: 50px;
}

.button:hover {
    cursor: pointer;
    transition: 0.3s;
}

.primary {
    color: black;
}

.secondary {
    color: lightgray;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}