body{
    margin: 0 auto;
    width: 1120px;

}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25% 50% ;
    width: 150px
}
.logoImg{
    height: 100px ;
    width: 100px;
    align-items: center;
    text-align: center;
    
}
.text{
    align-items: center;
    text-align: center;
}