.inputSearch {
    padding: 10px 40px;
    width: 500px;
    position: absolute;
    font-size: 15px;

}

.search {
    display: flex;
    align-items: center;
}

.searchIcon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 1px;
    left: 7px;
}